<% provide(:title, @user.name) %>
<div class="row">
  <div class="profile">
    <section>
      <h1>
        <%= carrier_for @user %><br>
        <%= @user.name %>
      </h1>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="own-box col-lg-9 col-md-8 col-sm-8 col-xs-8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>I Want! (<%= @user.microposts.count %>)</h3>
      <div class="clearfix" id="masonry-container">
        <div class="microposts">
          <%= render @microposts %>
        </div>
      </div>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>