<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
	<%= f.label :select_image %>
  	<%= f.file_field :item_image %>
	<%= f.label :content,"Comment" %>
    <%= f.text_area :content, placeholder: "Comment for item..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %> 